<% unless @content.comments.empty?  %>
  <% @content.comments.each do |c| %>
    <div class="col-xs-12">
      <p><%= c.content  %>
        <p class="comment-author">Submitted by <%= link_to c.user.username, user_path(id:c.user.id) %> on <%=c.created_at.strftime("%B %d\, %Y  at %I\:%M %p") %> <%= link_to "Comment", comment_path(id:c.id) %></p>

      </p>
    </div>
    <div class="col-xs-12">
      <p><% link_to "Comment", link_path(id:c.id) %></p>
    </div>
    <% @content = c %>
    <div class="col-xs-12 comment-box">
      <%= render "comments/comments" %>
    </div>
  <% end %>
<% end %>
