<% if params[:action] == "new" || params[:action] == "create" %>
  <h1 class="text-center">New Sub</h1>
<% else %>
  <h1 class="text-center">Edit Sub</h1>
<% end %>
<div class="errors">
  <% if @subcategory.errors.any? %>
    <h2>Errors:<%=  %></h2>
    <ul>
      <% @subcategory.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_for @subcategory, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-xs-offset-2 col-xs-2 control-label" %>
    <div class="col-xs-5">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <!-- <#%= f.label :description, class: "col-xs-offset-2 col-xs-2 control-label" %>
    <div class="col-xs-5">
      <#%= f.text_area :description, class: "form-control" %>
    </div> -->
  </div>
  <div class="row">
    <%= f.submit "Save", class: "center-block" %>
  </div>
<% end %>
