<div class="container">
  <h1>Username: <%= @user.username %></h1>
    <% if current_user == @user %>
      <%= link_to "Edit user", edit_user_path(id:@user.id) %>
    <% end %>
  <h3>Name: <%= @user.name %></h3>
  <h3> About Me</h3>
  <p><%= @user.aboutme %></p>

  <h3>Top Posts</h3>
  <% @links = @user.links.sort_by{|l| l.votes.sum(:value)}.reverse.take(5) %>
    <%= render "links/linkinfo" %>
  <% if current_user == @user %>
    <%= link_to "Edit user", edit_user_path(id:@user.id) %>
  <% end %>
</div>
